.ios, .md {

    page-about {

            .pulito-green-bg {
                background-color: #2EC19E;
                color: #eee;
            
                .toolbar-title {
                    color: #eee;
                }
            }

            .pulito-p {
                padding: 15px;
            }

            .logo {
                width: 100%;
                text-align: center;
            }

            .text{
                font-size: 16px;
                text-align: center;
    
            }

    }
}
