body {
    text-align: center;
    font-family: sans-serif;
}
.body{
    background-color: var(--background-color);
}

.list-view-title {
    height: 100%;
}

.header .toolbar-background {
    background-color: #2EC19E;
    color: #eee;
}

.pulito-green-bg {
    background-color: #2EC19E;
    color: #eee;

    .toolbar-title {
        color: #eee;
    }
}

.pulito-green-color {
    color: #2EC19E;
}

.flex-container {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.ailgn-center {
    align-items: center;
}

.fifty-width {
    width: 50%;
}

/* END GLOBAL */

header {
    padding: 5px 0px;
}

.top-icons {
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #ddd;
    height: 30px;
    color: #ddd;
    background-color: #fff;
}

.top-left-icon {
    width: 50%;
    margin: 0;
    border-right: 2px solid #ddd;
}

.card {
    border-bottom: 2px solid #ddd;
    padding: 20px;
    background-color: #fff;
}

.card-left {
    color: #ddd;
    height: 100px;
    font-size: 10px;
}

.card-right {
    margin-left: 50px;
    align-items: flex-start;
    text-align: left;
}

.card-right h3 {
    margin: 10px 0px 3px 0px;
    font-size: 20px;
    font-weight: 700;
}

.card-right p {
    margin: 10px 0;
}

footer {
    justify-content: space-around;
    color: #ddd;
    height: 75px;
}

.middle-plus {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin-top: -30px;
}

.middle-plus h1 {
    margin: auto;
}

.bottom-text {
    font-size: 8px;
}

.top-left-icon{
    color: hsl(0, 0%, 70%);
    .fa{
        margin-top: 1px;
        font-size: 21px;
    }
}

