<ion-header class="pulito-green-bg">
    <ion-navbar>
        <ion-title class="pulito-green-bg">List View</ion-title>
    </ion-navbar>    
</ion-header>

<ion-content>
    <div class="top-icons flex-container">
        <button ion button color='white' class="top-left-icon" (click)="toggleRecycle()"><i class="fa fa-recycle" aria-hidden="true"></i></button>
        <button ion button color='white' class="top-left-icon" (click)="toggleTrash()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        <button ion button color='white' class="top-left-icon" (click)="bothMarkers()"><i class="fa fa-recycle" aria-hidden="true"></i> / <i class="fa fa-trash-o" aria-hidden="true"></i></button>

    </div>
    <div class="card flex-container" *ngFor="let location of locations">
        <div class="card-left flex-container align-center justify-center flex-direction-column">
            <span>Icon</span>
            <span>{{ getDistanceFromLatLonInMi(location.lat, location.long, myLat, myLong) }} mi</span>
            <span>Away</span>
        </div>
        <div class="card-right flex-container flex-direction-column">
            <h3>{{ location.name }}</h3>
            <p><strong>Type:</strong></p>
            <div  *ngFor="let type of location.type">{{ Center["landfill"] }} {{ type }}</div>
  
            <p><strong>Address:</strong> {{ location.address }}</p>
            <p>{{ location.description }}</p>
        </div>
    </div>
   

</ion-content>