.ios, .md {

    page-map {

        .pulito-green-bg {
            background-color: #2EC19E;
            color: #eee;
        
            .toolbar-title {
                color: #eee;
            }
        }

        .top-left-icon {
            width: 50%;
            margin: 0;
            border-right: 2px solid #ddd;
        }

        
        .scroll {
            height: 100%;
        }

        #map {
            width: 100%;
            height: 100%;
        }

    }

}
