page-reports {
    .body{
        background-color: var(--background-color);
    }

    button.report-button{
        background-color: var(--pulito-green);
        &.activated {
            background-color: var(--pulito-green);
          }
    }
    .report-card{
        display: grid;
        grid-template-columns: 75px 1fr;
    }
    .location{
        font-weight: 100;

        .fa{
            color: hsl(0, 0%, 70%);
        }
    }
    .description{
        margin-left: 5px;
        h3{
            margin-bottom: 3px;
            font-size: 20px;
            font-weight: 700;
        }
        p{
            font-size: 14px;
        }
    }

    .address{
        margin-top: 0px;
    }

}
