page-my-stats {
    
    .stat-header{
        background-color: black;
        height: 30%;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profilePic{
       background-color: pink;
       height: 100px;
       width: 100px;
       border-radius: 50%;
    }
    .name{
        color: red;
    }

}
